/* Estilos para la sección de contacto */
.section-help {
    margin: 70px auto;
    width: 70vw;
    padding: 4rem 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
}

.help-container {
    max-width: 700px;
    padding: 0 2rem;
 
}

.help-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

.contact-image {
    padding: 1rem;
    max-width: 400px;
    text-align: center;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media query para estilos en dispositivos móviles */
@media (max-width: 768px) {
    .section-help {
        padding: 3rem 0;
        flex-direction: column;
    }

    .help-container,
    .contact-image {
        max-width: 100%;
    }

    .help-container {
        padding: 0 1rem;
    }
}